a {
  color: #222;
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}
.navbar a {
  padding: 0 10px 0 10px;
}
.navbar img {
  border-radius: 50%;
}
.logo {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10px;
}
.search-bar {
  text-align: center;
  padding-bottom: 10px;
  border: none;
  border-style: solid 1px black;
  border-radius: 50%;
}
.search-bar input{
  width: 500px;
  height: 20px;

}
.buttons-bottom {
  text-align: center;
}
.bottom-bar {
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #dedede;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.bottom-bar a {
  padding: 0 10px 0 10px;
}
.bottom-bar-left {
  padding-left: 10px;
}
.bottom-bar-right {
  margin-left: auto;
  padding-right: 10px;
}
